# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
ecm
*.vault*
*.nacl.*
*.aes*
TODO*
*config.json
*.diff
*.graffle
go.mod.replace
ecm.log*
ecm.conf

# ignore wasm stuff
static/js/*.wasm
wasm/*.wasm
wasm/server/*.wasm
wasm/server/wasm_exec.js
wasm/wasm_exec.js
wasm/extension/js/ecm.wasm

cli/ecm
server/ecm
server/*config.json
server/static/.DS_Store
term/ecm

tmp/
2fa-*
guadrian

extension-test
test-server
credentials*
dev

sync/access.md

ui/adb
ui/rclone.conf
ui/dropbox
ui/images
ui/*.apk*
ui/*.pkg*
ui/ecmsync.conf
ui/.DS_Store
ui/developer
