<div class="my-record">
    <div class="is-row">
        <div class="is-col"></div>
        <div class="is-col">
            <div class="alert is-error is-shadow-2">
                {{.Message}}
            </div>
            Return to
            <a href="/">Home</a> or 
            <a href="/login">Login</a> page.
        </div>
        <div class="is-col"></div>
    </div>
</div>
