<div class="page">
    <!-- Header -->
    <header class="header my-header">

    <div class="my-menu">
    <div class="is-navbar-container">
        <div class="is-brand">
            <b class="is-logo">
                ECM
            </b>
        </div>
        <div class="is-navbar">
            <!-- primary navigation -->
            <nav>
                <ul>
                    <li>
                        <a href="/settings" class="button is-tertiary">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="button is-tertiary">
                            Products
                        </a>
                    </li>
                    <li>
                        <a href="/settings" class="button is-tertiary">
                            FAQs
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- secondary navigation -->
            <nav class="is-push-right">
                <ul>
                    <li>
                        <a href="/login" class="button is-tertiary">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="/signup" class="button is-tertiary">
                            SignUp
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>

    </header>
    <hr/>
    <!-- Main container -->
    <main class="main is-container">
        <!-- main sidebar -->
        <!--
        <div class="main-sidebar">
            Side-bar
            lksdjfklsj lksjd flksjd flksjdf lksdjf lksdjf lksdjf
            klsjdflksdjfl sjdlf skldjf lsdjf lksdjf lksdj
        </div>
        -->
        <!-- main content -->
        <div class="main-content">
            <div class="is-row">
                <div class="is-col is-10"></div>
                <div class="is-col is-30">
                    <img src="static/images/security.png" class="my-image">
                </div>
                <div class="is-col is-50">
                    In modern digital world the content matter the most.
                    We should be confident that it is protected, and stored securely.
                    It should be accessible everywhere, at home, on the web,
                    on a road, etc.
                </div>
                <div class="is-col is-10"></div>
            </div>
            <br>
            <br>
            <div class="is-row">
                <div class="is-col is-10"></div>
                <div class="is-col is-50">
                    How we can protect our data without loosing accessibility.
                    There are several ways to do it
                </div>
                <div class="is-col is-30">
                    <img src="static/images/technology-icon.png" class="my-image">
                </div>
                <div class="is-col is-10"></div>
            </div>
            <br>
            <br>
            <div class="is-row">
                <div class="is-col is-10"></div>
                <div class="is-col is-30">
                    <img src="static/images/encryption-icon.png" class="my-image">
                </div>
                <div class="is-col is-50">
                    We provide secure solution to all your digital content,
                    records, passwords, files, media. We rely on industry
                    standards to encrypt our data. Here is a list of supported
                    ciphers by ECM:
                    <ul>
                        <li>
                            AES cipher: The Advanced Encryption Standard (AES),
                            also known by its original name Rijndael is a
                            specification for the encryption of electronic data
                            established by the U.S. National Institute of
                            Standards and Technology (NIST) in 2001.
                        </li>
                        <li>
                            NaCl cipher: 
                            <a href="https://nacl.cr.yp.to/index.html">NaCl</a>
                            (pronounced "salt") is a new easy-to-use high-speed
                            software library for network communication,
                            encryption, decryption, signatures, etc. 
                        </li>
                        <li>
                        </li>
                    </ul>
                </div>
                <div class="is-col is-10"></div>
            </div>
        </div>
    </main>
    <br/>
    <hr/>
    <br/>
    <!-- Footer -->
    <footer class="footer my-footer">

            <div class="intro">
                <div>
                    Copyright &#169; Encrypted Content Manager (ECM)
                    All Rights Reserved.
                </div>
                <br/>
                <div class="">
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/web.png">
                    </a>
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/support.png">
                    </a>
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/docs.png">
                    </a>
                    <a href="github.com/vkuznet/ecm" class="label is-tertiary is-focus">
                        <img src="static/images/github.png">
                    </a>
                </div>
            </div>

    </footer>
</div>
