<div class="my-record">
    <div class="is-row">
        <div class="is-col"></div>
        <div class="is-col">
            <div class="alert is-success is-shadow-2">
                You successfully logout from the system.
            </div>
            Return to
            <a href="/">Home</a> or
            <a href="/login">Login</a> page.
        </div>
        <div class="is-col"></div>
    </div>
</div>
