<div class="page">
    <!-- Header -->
    <header class="header my-header">

    <div class="my-menu">
    <div class="is-navbar-container">
        <div class="is-brand">
            <div class="menu-item">
            <b class="is-logo">
                ECM
            </b>
            </div>
        </div>
        <div class="is-navbar">
            <!-- primary navigation -->
            <nav>
                <ul>
                    <li>
                        <a href="/settings" class="button is-icon is-tertiary">
                            <span class="icon-kube-menu"></span>
                            Settings
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- secondary navigation -->
            <nav class="is-push-right">
                <ul>
                    <li>
                        <form>
                            <div id="search" class="form-item">
                                <input type="text" class="is-search" placeholder="Search">
                            </div>
                        </form>
                    </li>
                    <li>
                        <div class="icon-size is-warning">
                        <em class="feather-layers"></em>
                        </div>
                    </li>
                    <li>
                        <select id="vault" onchange="changeVault()" class="is-warning">
                            <option value="Primary" selected=true disabled="disabled">Vault</option>
                            <option value="Primary">Primary</option>
                        </select>
                    </li>
                    <li>
                        <div class="icon-size is-success">
                        <em class="feather-plus"></em>
                        </div>
                    </li>
                    <li>
                        <select id="action" onchange="Action()" class="is-success">
                            <option value="" selected=true disabled="disabled">New</option>
                            <option value="record">Login Record</option>
                            <option value="json">JSON Record</option>
                            <option value="note">Note</option>
                            <option value="card">Credit Card</option>
                            <option value="vault">Vault</option>
                            <option value="sync">Sync</option>
                            <option value="file">File upload</option>
                        </select>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>

    </header>
    <br/>
    <hr/>
    <br/>
    <!-- Main container -->
    <main class="main is-container">

        <!-- main content -->
        <div class="main-content">
            <div class="is-row">
                <div class="is-col is-20"></div>
                <div class="is-col is-60">
                    <!-- Vault records -->
                    <div class="is-row">
                        <div class="is-col is-20">
                            <a href="javascript:generatePassword()" class="button is tertiary is-small">
                                Generate password
                            </a>
                        </div>
                        <div class="is-col is-10">
                            <input id="password-size" type="text" value="16"/>
                        </div>
                        <div class="is-col is-20">
                            <select id="characters">
                                <option value="chars">Characters</option>
                                <option value="chars+numbers">Characters+Numbers</option>
                                <option value="chars+numbers+symbols">Characters+Numbers+Symbols</option>
                            </select>
                        </div>
                        <div id="new-password" class="is-col is-30">
                        </div>
                        <div class="is-col is-20">
                            <a href="javascript:ClearFields();showRecords()" class="button is-secondary is-small">
                                Show records
                            </a>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <div id="records">
                    </div>
                    <div id="results"></div>

                    <!-- New sync -->
                    <div id="new-sync" class="hide">
                        <div class="my-record">
                            <h2>Sync hosts</h2>
                            <div>
                                From host: <input type="text" placeholder="http://host1.com">
                                To host: <input type="text" placeholder="http://host2.com">
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();syncHosts()" class="button">
                                        Sync
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New vault -->
                    <div id="new-vault" class="hide">
                        <div class="my-record">
                            <h2>New Vault</h2>
                            <div>
                                Name: <input type="text" placeholder="name">
                                Encryption:
                                <select>
                                    <option value="aes">AES</option>
                                    <option value="nacl">NaCl</option>
                                </select>
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();addVault()" class="button">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New record -->
                    <div id="new-record" class="hide">
                        <div class="my-record">
                            <h2>New Record</h2>
                            <div>
                                Name: <input type="text" placeholder="name">
                                Login: <input type="text" placeholder="login">
                                Password: <input type="password" placeholder="password">
                                Tags: <input type="text" placeholder="Foo, Bla">
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();addRecord()" class="button">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New credit card record -->
                    <div id="new-card" class="hide">
                        <div class="my-record">
                            <h2>New Card information</h2>
                            <div>
                                Name: <input type="text" placeholder="name">
                                Card Number: <input type="text" placeholder="digits, 4147 ...">
                                Verification Code: <input type="password" placeholder="code, e.g. 123">
                                Issue date: <input type="text" placeholder="YYYYMMDD">
                                Contact phone: <input type="text" placeholder="1-800-xxx-xxxx">
                                Tags: <input type="text" placeholder="Foo, Bla">
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();addCard()" class="button">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- New json -->
                    <div id="new-json" class="hide">
                        <div class="my-record">
                            <h2>New JSON record</h2>
                            <div>
                                Name: <input type="text" placeholder="name">
                                JSON: <input type="textarea" placeholder='{"attribute":"value"}'>
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();addJsonRecord()" class="button">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New note -->
                    <div id="new-note" class="hide">
                        <div class="my-record">
                            <h2>New note</h2>
                            <div>
                                Name: <input type="text" placeholder="name">
                                Note: <input type="textarea" placeholder="Note text">
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();addNote()" class="button">
                                        Create
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- New record -->
                    <div id="new-file" class="hide">
                        <div class="my-record">
                            <h2>New File</h2>
                            <div>
                                <div class="drop-area drop-area-text">
                                    <div class="feather-download">
                                        <div>
                                            Choose a file or drag it here
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div>
                                    <a href="javascript:ClearFields();uploadFile()" class="button">
                                        Encrypt
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="is-col is-20"></div>
            </div>
        </div>
    </main>
    <br/>
    <hr/>
    <br/>
    <!-- Footer -->
    <footer class="footer my-footer">

            <div class="intro">
                <div>
                    Copyright &#169; Encrypted Content Manager (ECM)
                    All Rights Reserved.
                </div>
                <br/>
                <div class="">
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/web.png">
                    </a>
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/support.png">
                    </a>
                    <a href="" class="label is-tertiary is-focus">
                        <img src="static/images/docs.png">
                    </a>
                    <a href="github.com/vkuznet/ecm" class="label is-tertiary is-focus">
                        <img src="static/images/github.png">
                    </a>
                </div>
            </div>

    </footer>
</div>

<script>
function ClearFields() {
    let arr = ["new-record", "new-vault", "new-sync", "new-file", "new-json", "new-note", "new-card"];
    for (let i = 0; i < arr.length; i++) {
        HideTag(arr[i]);
    }
    var records = document.getElementById("records");
    records.innerHTML = "";
}
function ShowPlaceHolder(tag) {
    ClearFields();
    ShowTag(tag);
}
function Action() {
    var id = document.getElementById("action")
    if (id.value == "record") {
        ShowPlaceHolder("new-record")
    } else if(id.value == "vault") {
        ShowPlaceHolder("new-vault")
    } else if(id.value == "sync") {
        ShowPlaceHolder("new-sync")
    } else if(id.value == "file") {
        ShowPlaceHolder("new-file")
    } else if(id.value == "json") {
        ShowPlaceHolder("new-json")
    } else if(id.value == "note") {
        ShowPlaceHolder("new-note")
    } else if(id.value == "card") {
        ShowPlaceHolder("new-card")
    }
}
</script>
