body {
    margin:0;
    margin-left:20px;
    margin-right:20px;
    width: 400px;
    height: 400px;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
    font:13px/1.231 arial,helvetica,sans-serif;
}
.gpm {
/*    margin: 10px 1px;*/
    margin: 10px auto;
}
ul.records {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px 10px;
  background-color: #EEEEEE;
  border: 1px solid #DDDDDD;
}
.link {
    background-color:#1c87c9;
    cursor: pointer;
    width: 5%;
}
.hide {
    display: none;
}
.show {
    display: block;
/*    margin-top:6px;*/
/*    border-top-width:1px;*/
}
input {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	padding: 7px;
	outline: 0;
	-webkit-appearance: none;
}
input:focus {
	border-color: #339933;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C0C0C0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C0C0C0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C0C0C0;
}
.button {
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-radius {border-radius: 12px;}
.button-lock {
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
    border-radius: 12px;
    background-color: #F8D3E0;
}
.button-unlock {
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
    border-radius: 12px;
    background-color: #ADBCD9;
}
