<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="en-us" />
        <meta http-equiv="Content-Script-Type" content="text/javascript" />
        <meta http-equiv="imagetoolbar" content="no" />
        <meta name="MSSmartTagsPreventParsing" content="true" />
        <meta name="ROBOTS" content="ALL" />
        <meta name="Copyright" content="(CC) 2022, ECM LLC." />
        <meta name="Rating" content="General" />
        <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/kube.min.css"/>
        <link rel="stylesheet" type="text/css" href="static/css/feather.css"/> 
        <script type="text/javascript" src="static/js/wasm_exec.js"></script>
        <script type="text/javascript" src="static/js/go.js"></script>
        <script type="text/javascript" src="static/js/utils.js"></script>
        <script type="text/javascript" src="static/js/helpers.js"></script>
        <script type="text/javascript" src="static/js/allow.js"></script>
        <script type="text/javascript" src="static/js/functions.js"></script>
        <title>ECM server</title>
    </head>
<body>
