body {
    margin:0;
    margin-left:20px;
    margin-right:20px;
    width: 400px;
    height: 400px;
    padding:0;
    color:#000;
    background:#fff;
    font-family: 'Trebuchet MS', sans-serif;
}
.gpm {
    margin: 10px auto;
    padding-left: 20px;
}
.intro {
  padding-top: 50px;
  padding-left: 20px;
}
ul.records {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  padding: 5px 10px;
  border-bottom: 1px solid #DDDDDD;
}
.link {
    background-color:#1c87c9;
    cursor: pointer;
    width: 5%;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/*input {*/
.password {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-size: 12px;
	padding: 7px;
	outline: 0;
	-webkit-appearance: none;
}
input:focus {
	border-color: #339933;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C0C0C0;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C0C0C0;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #C0C0C0;
}
.config {
  font-size: 12px;
  padding: 7px;
  outline: 0;
}
.config-item {
  display: inline-block;
  width: 50px;
}

.search {
  background: url("../images/search.png") no-repeat left center;
  background-repeat: no-repeat;
  text-indent: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
  padding: 7px;
  outline: 0;
}

.status {
  border-color: rgba(21,141,247,.3);
  background-color: transparent;
  color: #158df7;
}
.success {
  border-color: rgba(32,188,113,.3);
  background-color: transparent;
  color: #20bc71;
}
.exit {
  border-color: rgba(238,36,85,.3);
  background-color: transparent;
  color: #ee2455;
}

.label {
  padding: 0 0.5em;
  background: 0 0;
  border: 1px solid rgba(17,17,19,.2);
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0;
  text-transform: none;
  display: inline-block;
  vertical-align: baseline;
  line-height: 20px;
  cursor: pointer;
}
.button-right {
  text-align: right;
}

.button {
  border: none;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-radius {border-radius: 12px;}
.button-fill {
/*    -moz-box-shadow: 2px 2px 3px #666;*/
/*    -webkit-box-shadow: 2px 2px 3px #666;*/
/*    box-shadow: 2px 2px 3px #666;*/
    width: 100px;
    background-color: #0433FF;
    color: white;
}
.button-lock {
/*    -moz-box-shadow: 2px 2px 3px #666;*/
/*    -webkit-box-shadow: 2px 2px 3px #666;*/
/*    box-shadow: 2px 2px 3px #666;*/
    width: 70px;
    color: #0c3dd7;
    background: 0 0;
    border-radius: 4px;
    border: 2px solid #0c3dd7;
}
.button-unlock {
/*    -moz-box-shadow: 2px 2px 3px #666;*/
/*    -webkit-box-shadow: 2px 2px 3px #666;*/
/*    box-shadow: 2px 2px 3px #666;*/
    width: 70px;
    color: rgba(255,255,255,.95);
    background: #0c3dd7;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 2px;
/*  display: flex;*/
/*  justify-content: center;*/
  align-items: center;
}
.grid-item {
  text-align: center;
}
